*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body {
    background: #0a0a0a;
    color: #fff;
}

.secao {
    padding: 100px 0;
    padding-left: 50px;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px;
    margin-left: 50px;
    cursor: pointer;
}
/* Links com cor personalizada */
a {
    color: #fff; /* Cor padrão do link */
    text-decoration: none;
    transition: color 0.3s ease; /* Transição suave na cor */
}

/* Hover - cor cinza e transição mais lenta */
a:hover {
    color: #c8e8f5; /* Cor cinza */
    text-decoration: none;
    transition: color 0.6s ease; /* Aumento no tempo da transição para tornar o efeito mais lento */
}

ul {
    display: flex;
    gap: 50px; /* Para  separar os itens da lista */
    list-style: none; /*remove a bolinha da lista*/
    font-size: 18px;
}

.principal {
    display: flex;
    align-items: center;
    margin-left: 30px; /* Para deslocar o texto para a direita */
    min-height: 85vh; /* Para garantir que o conteúdo principal ocupe pelo menos 85% da altura da tela */
}
.principal h1 {
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 20px;
    letter-spacing: -3px; /* Para adicionar espaçamento entre as letras */
}

.principal h1 span {
    color: #4d7cfe;
}

.principal p {
    font-size: 20px; /* Tamanho da fonte */
    line-height: 1.8; /* Aumenta o espaçamento entre linhas */
    margin-bottom: 40px; /* Espaço abaixo do parágrafo */
    max-width: 964px; /* Largura máxima */
    color: #bbb; /* Cor suave */
    text-align: justify; /* Alinha o texto de forma mais fluída */
    margin-left: auto; /* Alinha o conteúdo ao centro */
    margin-right: auto; /* Alinha o conteúdo ao centro */
    letter-spacing: 0.5px; /* Leve espaçamento entre as letras */
}

.botao {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4d7cfe;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.titulo-secao {
    font-size: 42px;
    margin-bottom: 60px;
    position: relative; /* Para posicionar o título de forma relativa a sua posição normal */
}

.titulo-secao::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100px;
    height: 4px;
    background-color: #4d7cfe;
}

.grade-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
}

.card-projeto {
    background-color: #161616;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Para garantir que o conteúdo não ultrapasse os limites do card */
    padding: 20px;
}


.img-projeto {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Para garantir que a imagem ocupe todo o espaço disponível */
    margin-bottom: 20px;
}

.info-projeto {
    padding: 20px;
}

.info-projeto h3 {
    margin-bottom: 10px;
}

.info-projeto p {
    color: #bbb;
    margin-bottom: 20px;
}
.info-projeto a {
  color: #4d7cfe;
  font-weight: 500;
}

.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    max-width: 1200px;
}

.img-sobre {
    height: 400px;
    background-color: #161616;
    border-radius: 10px;
}

.conteudo-sobre h2 {
    margin-bottom: 30px;
}

.conteudo-sobre p {
    margin-bottom: 20px;
    color: #bbb;
}

.habilidades {
    display: flex;
    flex-wrap: wrap; /* Para quebrar a linha quando necessário */
    margin-top: 20px;
}

.tag-habilidades {
    background-color: rgba(77, 124, 254, 0.2);
    color: #4d7cfe;
    padding: 8px 15px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.botoes-contato {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.botao-contato {
   display: flex; 
   align-items: center;
   gap: 10px;
   padding: 15px 25px;
   border-radius: 10px;
   font-weight: 500;
   min-width: 160px;
   text-decoration: none;
   color: white;
}

.whatsapp {
    background-color: #25d366;
}

.email {
    background-color: #EA4335;
}

.linkedin {
    background-color: #0077b5;
}

.github {
    background-color: #333;
}

footer {
    border-top: 1px solid #222;
    padding: 20px 5%;
    text-align: center;
}

.efeito-cursor {
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Efeito de elevação ao passar o mouse */
}


.efeito-cursor:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
}

.cursor {
    pointer-events: none;
    position: fixed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(77, 124, 254, 0.2);
    z-index: 99; /* Para garantir que o cursor esteja acima de outros elementos */
    transform: translate(-50%, -50%); /* Para centralizar o cursor */
}

img {
    max-width: 100%;
    height: auto;
}

/* Responsividade */
@media (max-width: 768px) {
    
    header {
        padding: 15px;
        display: none;
    }

    ul {
        gap: 20px;
        justify-content: center; /* Para alinhar os itens à esquerda */
        padding: 0;
    }

    .principal {
        flex-direction: column;
        text-align: center;
        margin-left: 0;
        padding: 20px;
        margin-bottom: 40px;
        min-height: 60vh;
    }

    .principal p {
        font-size: 16px;
        word-spacing: -1px;
        max-width: 100%;
        margin-bottom: 20px;
    }
    
.efeito-cursor {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-top: 80px;
    margin-bottom: -18px;
}

    .principal  h1{
        font-size: 30px;
    }
    .secao {
        padding: 40px 20px;
    }

    .sobre {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .img-sobre {
        height: auto;
    }


    /* Ajustes na grade de projetos */
    .grade-projetos {
        grid-template-columns: 1fr; /* Coloca os projetos em uma coluna */
    }

    /* Ajuste nos cards de projetos */
    .card-projeto {
        padding: 15px; /* Reduz o padding */
    }

    .img-projeto {
        height: 180px; /* Ajusta a altura das imagens para telas menores */
    }

    .info-projeto p {
        font-size: 14px; /* Font menor para dispositivos móveis */
    }

        /* Desabilitar o efeito do cursor em dispositivos com telas menores */
        .cursor {
            display: none; /* Oculta o elemento do cursor */
        }
    
        .efeito-cursor {
            cursor: default; /* Desativa qualquer efeito de cursor nos elementos */
        }



}